
.page {
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  padding: 170px;
}

.content {
  text-align: center;
}

.title {
  background: rgb(121, 242, 157);
}
